name: CI/CD Pipeline - StockWiz

on:
  workflow_dispatch: 
  pull_request:
    branches: [ "develop", "test", "main" ]

jobs:
  build:
    name: Build microservices
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    # --- Build api-gateway (Go)
    - name: Build API Gateway
      working-directory: ./app/api-gateway
      run: |
        echo "Building API Gateway..."
        docker build -t stockwiz-api-gateway:latest .

    # --- Build inventory-service (Go)
    - name: Build Inventory Service
      working-directory: ./app/inventory-service
      run: |
        echo "Building Inventory Service..."
        docker build -t stockwiz-inventory-service:latest .

    # --- Build product-service (Python)
    - name: Build Product Service
      working-directory: ./app/product-service
      run: |
        echo "Building Product Service..."
        docker build -t stockwiz-product-service:latest .

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    # --- Run Go tests (api-gateway + inventory)
    - name: Run Go tests
      working-directory: ./tests/go
      run: |
        echo "Running Go tests..."
        cd api-gateway && go test ./... -coverprofile=coverage.out
        cd ../inventory-service && go test ./... -coverprofile=coverage.out

    # --- Run Python tests (product-service)
    - name: Run Python tests
      working-directory: ./tests/python/product-service
      run: |
        echo "Running Python tests..."
        pip install -r requirements.txt pytest pytest-cov
        pytest --cov=. --cov-report=xml:coverage.xml

  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

  deploy-dev:
    name: Deploy to develop
    runs-on: ubuntu-latest
    needs: sonarqube

    environment:
      name: develop
      url: https://dev.stockwiz.fake  # opcional - url falso

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy container (Dev)
        run: |
          echo "Desplegando container en ambiente Dev..."
          docker tag stockwiz-api-gateway:latest stockwiz-api-gateway-dev:latest
          docker tag stockwiz-inventory-service:latest stockwiz-inventory-service-dev:latest
          docker tag stockwiz-product-service:latest stockwiz-product-service-dev:latest
          echo "Simulando despliegue exitoso en ambiente Dev."

  deploy-test:
    name: Deploy to testing
    runs-on: ubuntu-latest
    needs: deploy-dev

    environment:
      name: testing
      url: https://test.stockwiz.fake  # opcional - url falso



    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy container (Testing)
        run: |
          echo "Desplegando container en el ambiente Test..."
          docker tag stockwiz-api-gateway:latest stockwiz-api-gateway-test:latest
          docker tag stockwiz-inventory-service:latest stockwiz-inventory-service-test:latest
          docker tag stockwiz-product-service:latest stockwiz-product-service-test:latest
          echo "Simulando despliegue exitoso en ambiente testing."

  deploy-prod:
    name: Deploy to production
    runs-on: ubuntu-latest
    needs: deploy-test

    environment:
      name: production
      url: https://stockwiz.fake  # opcional - url falso


    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Manual approval required
        run: |
          echo "Esperando aprobación manual para el despliegue en producción..."

      - name: Deploy container (Production)
        run: |
          echo "Desplegando container en el ambiente Produccion..."
          docker tag stockwiz-api-gateway:latest stockwiz-api-gateway-prod:latest
          docker tag stockwiz-inventory-service:latest stockwiz-inventory-service-prod:latest
          docker tag stockwiz-product-service:latest stockwiz-product-service-prod:latest
          echo "Simulando despliegue exitoso en ambiente produccion."
